<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 side-nav">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem saepe optio dolore dolores obcaecati similique
        ullam? Beatae, error. Unde neque aut molestias aliquid ratione, ipsum consequuntur autem numquam et distinctio.</p>
    </div>
    <div class="col main">
      <a href="/api/user">See all user data</a>
      <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur quos, ducimus rerum illo unde nisi aut
        dolor fugiat animi ad amet a harum impedit, accusamus earum tenetur consectetur nostrum vel. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Doloribus quasi ducimus ab itaque alias iste distinctio maxime veritatis
        nulla enim, quos odio consequatur vel minima molestias porro hic. Aspernatur, reprehenderit? Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Distinctio consectetur id molestias animi nisi sit tempora mollitia.
        Sequi corrupti commodi libero eius, quam debitis ab enim vel voluptatem nemo veritatis? Lorem ipsum dolor, sit
        amet consectetur adipisicing elit. Porro, sequi aperiam. Natus amet dignissimos nostrum corporis sapiente.
        Saepe, eum voluptates repellendus, similique blanditiis quasi placeat, harum necessitatibus maxime labore nemo.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quod perspiciatis soluta voluptatum dolore
        impedit quibusdam. Sint similique debitis ratione quia quam aliquam cumque voluptate odit, labore eos
        aspernatur!</h1>
    </div>
  </div>
</div>