<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 side-nav">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem saepe optio dolore dolores obcaecati similique
        ullam? Beatae, error. Unde neque aut molestias aliquid ratione, ipsum consequuntur autem numquam et distinctio.</p>
    </div>
    <div class="col">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error amet rem hic nostrum vitae perspiciatis,
        inventore deleniti vero laboriosam, itaque corrupti mollitia voluptatum minima nam asperiores at ipsum.
        Voluptatibus, natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam alias accusantium facere
        eum fugit dicta aliquam? Accusamus repellendus nam nemo, molestiae commodi est quisquam dolores odio quibusdam
        maiores, magnam rem?</p>
    </div>
  </div>
</div>