hr {
  margin: 5px;
  width: 100%;
  border: 1px grey solid;
}

.dashboard {
  max-height: 91vh;
  overflow: scroll;
}

.side-nav {
  max-height: 91vh;
  overflow: scroll;
}

.signature-block {
  display: block;
  text-align: right;
}
