<div class="container-fluid">
  <div id="banner"></div>
  <div class="row">
    <div class="col-12 col-sm-3 side-nav">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

        <a *ngIf="user.email" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="true">{{user.email}} <i class="fas fa-cog"></i></a>

        <a *ngIf="user.isAdmin" class="nav-link" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
          aria-controls="v-pills-admin" aria-selected="true">Admin Dashboard</a>

        <hr>

        <ng-container *ngFor="let base of user.bases; let isFirstBase = first">

          <!-- If the user is a base manager -->
          <ng-container *ngIf="base.canCreateOrgs || user.isAdmin">
            <a class="nav-link" id="v-pills-{{base.baseId}}-tab" data-toggle="pill" href="#v-pills-{{base.baseId}}"
              role="tab" attr.aria-controls="v-pills-{{base.baseId}}" aria-selected="true">
              <span class="base-name">{{ base.baseName }}</span> <i class="fas fa-cog"></i>
            </a>
          </ng-container>

          <!-- If the user is not a base manager -->
          <ng-container *ngIf="!base.canCreateOrgs">
            <span class="base-name not-manager">{{ base.baseName }}</span>
          </ng-container>

          <!-- List orgs managed by user -->
          <ng-container *ngFor="let org of base.orgs; let isFirstOrg = first">
            <a [class.active]="isFirstBase && isFirstOrg" class="nav-link" id="v-pills-{{base.baseId}}-{{org.orgId}}-tab"
              data-toggle="pill" href="#v-pills-{{base.baseId}}-{{org.orgId}}" role="tab" attr.aria-controls="v-pills-{{base.baseId}}-{{org.orgId}}"
              aria-selected="true">{{org.orgName}}</a>
          </ng-container>

          <hr>

        </ng-container>

      </div>
    </div>
    <div class="col-12 col-sm-9 dashboard">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <pre>{{user | json}}</pre>
          <!-- 
            TODO:
            - Submit base code to become a base manager
            - 
          -->
        </div>

        <div *ngIf="admin" class="tab-pane fade show" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
          <pre>{{ admin | json}}</pre>
          <!-- 
            TODO:
            - Create Base
            - Delete Base
            - Update Base
            - 
          -->
        </div>

        <ng-container *ngFor="let base of user.bases; let isFirstBase = first">

          <!-- Create Base Manager dashboard -->
          <ng-container *ngIf="base.canCreateOrgs || user.isAdmin">

            <div class="tab-pane fade show" id="v-pills-{{base.baseId}}" role="tabpanel" attr.aria-labelledby="v-pills-{{base.baseId}}-tab">
              <h2>{{base.baseName}}</h2>
              <p>Phone Number: {{toPrettyPhone(base.basePhoneNumber)}}</p>

              <div class="row">
                <div class="col-md-10">
                  <div class="create-org">
                    <!-- <h4>Create Organization</h4> -->
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="create-org-name-label-{{base.baseId}}">Organization Name</span>
                      </div>
                      <input type="text" id="create-org-name-{{base.baseId}}" class="form-control" aria-label="Sizing example input"
                        attr.aria-describedby="create-org-name-label-{{base.baseId}}" placeholder="22 Maintenance Group">
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="create-org-subscription-code-label-{{base.baseId}}">Subscription
                          Code</span>
                      </div>
                      <!-- 
                        TODO: add a listener that adds .is-valid or .is-invalid to the input as it checks if the subscription code is valid or not after each key release.
                       -->
                      <input type="text" id="create-org-subscription-code-{{base.baseId}}" class="form-control"
                        aria-label="Sizing example input" attr.aria-describedby="create-org-subscription-code-label-{{base.baseId}}"
                        placeholder="22MXG">
                    </div>
                    <button type="button" (click)="createOrganization(base.baseId)" class="btn btn-primary">Create
                      Organization</button>
                  </div>
                </div>
              </div>


              <!-- 
                TODO:
                - Create org
                - 
              -->
            </div>

          </ng-container>

          <!-- Create org dashboards -->
          <ng-container *ngFor="let org of base.orgs; let isFirstOrg = first">

            <div [class.active]="isFirstBase && isFirstOrg" class="tab-pane fade show" id="v-pills-{{base.baseId}}-{{org.orgId}}"
              role="tabpanel" attr.aria-labelledby="v-pills-{{base.baseId}}-{{org.orgId}}-tab">

              <!-- This part of the dashboard will show for all managers -->
              <div class="container">
                <span class="org-name">{{org.orgName}}</span>
                <span class="base-phone-number">Text '{{org.subscriptionCode | uppercase}}' to
                  {{toPrettyPhone(base.basePhoneNumber)}}</span>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <textarea (keyup)='charCount($event)' class="form-control" rows="5" id="text-{{org.orgId}}"
                      attr.maxlength="{{getMaxLength(org.subscriptionCode)}}" placeholder="Type message here."
                      attr.subscriptioncode="{{org.subscriptionCode}}"></textarea>
                    <span class="signature-block">- {{org.subscriptionCode | uppercase}}</span>
                  </div>
                  <div class="col-12 col-md-6">
                    <p id="character-count-{{org.orgId}}">0/160 : 0</p>
                    <p>Subscribers: <span id="subscribers-{{org.orgId}}">{{org.numberOfSubscribers}}</span></p>
                    <p>Estimated Cost: {{getCost(org.numberOfSubscribers) | currency}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="!canSendMessage(org.orgId)"
                      (click)="sendMessage(org.orgId)">Send to {{org.orgName}}</button>
                  </div>
                </div>
                <!-- This part of the dashboard will only show for orgOwners NOT admins, to curb confusion. -->
                <ng-container *ngIf="org.isOrgOwner">
                  <div class="row">
                    <div class="col">

                      <hr>
                      <!-- 
                        TODO:
                        - Add org manager
                        - Remove org manager
                        - Transfer org ownership
                        - Update org details form
                        - Delete org button
                       -->

                    </div>
                  </div>
                </ng-container>
              </div>


            </div>

          </ng-container>

        </ng-container>

      </div>
    </div>
  </div>
</div>