hr {
  margin: 5px;
  width: 100%;
  border: 1px grey solid;
}

.base-name {
  color: black;

  &.not-manager {
    padding-left: 1em;
  }
}

.base-phone-number {
  display: block;
}

.megaphone-form {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 1em;
}

.dashboard {
  max-height: 91vh;
  // overflow: scroll;
}

.org-name {
  font-weight: bold;
  font-size: 1.5em;
}

.side-nav {
  max-height: 91vh;
  // overflow: scroll;
}

.signature-block {
  display: block;
  text-align: right;
}

#banner {
  position: absolute;
  z-index: 1;
  width: 90%;
  margin: 0 5%;
}
